select node1.*,
node2.X,node2.Y,node2.Z,
node3.X,node3.Y,node3.Z,
node4.X,node4.Y,node4.Z,
node5.X,node5.Y,node5.Z,
node6.Z,node6.Y,node6.Z,
node7.X,node7.Y,node7.Z,
node8.X,node8.Y,node8.Z 
from
(Select elements.ElemntID as ID, nodes.X,nodes.Y,nodes.Z FROM elements JOIN nodes ON elements.node1=nodes.ID) node1,
(Select elements.ElemntID as ID, nodes.X,nodes.Y,nodes.Z FROM elements JOIN nodes ON elements.node2=nodes.ID) node2,
(Select elements.ElemntID as ID, nodes.X,nodes.Y,nodes.Z FROM elements JOIN nodes ON elements.node3=nodes.ID) node3,
(Select elements.ElemntID as ID, nodes.X,nodes.Y,nodes.Z FROM elements JOIN nodes ON elements.node4=nodes.ID) node4,
(Select elements.ElemntID as ID, nodes.X,nodes.Y,nodes.Z FROM elements JOIN nodes ON elements.node5=nodes.ID) node5,
(Select elements.ElemntID as ID, nodes.X,nodes.Y,nodes.Z FROM elements JOIN nodes ON elements.node6=nodes.ID) node6,
(Select elements.ElemntID as ID, nodes.X,nodes.Y,nodes.Z FROM elements JOIN nodes ON elements.node7=nodes.ID) node7,
(Select elements.ElemntID as ID, nodes.X,nodes.Y,nodes.Z FROM elements JOIN nodes ON elements.node8=nodes.ID) node8
where node1.ID = node2.ID 
and node1.ID = node3.ID 
and node1.ID = node4.ID 
and node1.ID = node5.ID 
and node1.ID = node6.ID 
and node1.ID = node7.ID 
and node1.ID = node8.ID 